.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 32px;
}

.nav {
  display: flex;
  padding: 32px 0;
  align-items: center;
}

.logo {
  width: 100px;
}

.links {
  margin-left: auto;
  display: flex;
  gap: 16px;
}

.content {
}
